{% assign id = section.id  %}
{% assign show_full_width = section.settings.show_full_width %}
<section id="laber_{{id}}" style="--alo-container-width:{{ section.settings.custom_width }}px;">
<div class="container{%if show_full_width%} full-width{%endif%}">
<div class="collection-hero">
  <div class="collection-hero__inner">
    <div class="collection-hero__text-wrapper">
       {%- if section.settings.show_collection_description -%}
          <div class="collection-hero__description rte" style=" --color-desc:{{ section.settings.cl_desc }}">
            {%- if collection.description != blank -%}
              <div class="collection-description">{{ collection.description }}</div>
            {%- endif -%}
          </div>
        {%- endif -%}
    </div>
  </div>
</div>
</div>
</section>
{%- render 'section_style' -%}
{% schema %}
{
  "name": "Collection description",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
    "type": "checkbox",
    "id": "show_full_width",
    "default": false,
    "label": "t:sections.main-collection-banner.settings.show_full_width.label"
    },
    {
        "type": "range",  
        "id": "custom_width",  
        "label": "Custom width",
        "min": 1170,
        "max": 1800,
        "step": 10,
        "unit": "px",
        "default": 1170 
    }, 
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
    "type": "color",
    "id": "cl_desc",
    "label": "Color Description",
    "default": "#fff"
    },
    
    {
        "type": "text",
        "id": "h_des",
        "label": "Desktop Large",
        "placeholder": "150px",
        "default": "150px"
      },
      {
        "type": "text",
        "id": "h_tb",
        "label": "Tablet (<= 1024px)",
        "placeholder": "100px",
        "default": "100px"
      },
      {
        "type": "text",
        "id": "h_mb",
        "label": "Mobile (<= 767px)",
        "placeholder": "150px",
        "default": "150px"
      },
    {
    "type": "color",
    "id": "cl_bg",
    "label": "Background color",
    "default": "#fff"
    },

    {
    "type": "header",
    "content": "== Setting PC",
    "info":"Margin"
    },	
    {
    "type": "text",
    "id": "mg",
    "label": "Margin",
    "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank"
    },
    {
    "type": "text",
    "id": "pd",
    "label": "Padding",
    "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank"
    },
    {
    "type": "header",
    "content": "== Design Mobile Options"
    },
    {
    "type": "text",
    "id": "mg_mb",
    "label": "Margin"
    },
    {
    "type": "text",
    "id": "pd_mb",
    "label": "Padding"
    }
  ]
}
{% endschema %}
